.button-facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 1.6rem;
  width: 70px;
  height: 55px;
  border: none;
  margin: 10px;
  border-radius: 0%;
  cursor: pointer;
}

.button-linkedin {
  background-color: #0077b5;
  color: #fff;
  font-size: 1.6rem;
  width: 70px;
  height: 55px;
  border: none;
  margin: 10px;
  border-radius: 0%;
  cursor: pointer;
}

.button-twitter {
  background-color: #00aced;
  color: #fff;
  font-size: 1.6rem;
  width: 70px;
  height: 55px;
  border: none;
  margin: 10px;
  border-radius: 0%;
  cursor: pointer;
}

.button-instagram {
  background-color: #d93175;
  color: #fff;
  font-size: 1.6rem;
  width: 70px;
  height: 55px;
  border: none;
  margin: 10px;
  border-radius: 0%;
  cursor: pointer;
}

.bespoke-software-tab {
  transition: translateY(5px) 0.5s;
  transform: translateY(5px);
  background-color: #fff;
  color: #333645;
}

.bespoke-software-tab .icon {
  color: #67809f;
}

.bespoke-software-tab .button {
  background-color: #fff;
  color: #67809f;
}

.bespoke-software-tab:hover {
  transition: translateY(5px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #67809f;
  color: #fff;
}

.bespoke-software-tab:hover .icon {
  color: #fff;
}

.bespoke-software-tab:hover .button {
  background-color: #fff;
  color: #67809f;
}

.it-support-tab {
  transition: translateY(5px) 0.5s;
  transform: translateY(5px);
  background-color: #fff;
  color: #333645;
}

.it-support-tab .icon {
  color: #4183D7;
}

.it-support-tab .button {
  background-color: #fff;
  color: #4183D7;
}

.it-support-tab:hover {
  transition: translateY(5px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #4183D7;
  color: #fff;
}

.it-support-tab:hover .icon {
  color: #fff;
}

.it-support-tab:hover .button {
  background-color: #fff;
  color: #4183D7;
}

.digital-marketing-tab {
  transition: translateY(5px) 0.5s;
  transform: translateY(5px);
  background-color: #fff;
  color: #333645;
}

.digital-marketing-tab .icon {
  color: #2ECC71;
}

.digital-marketing-tab .button {
  background-color: #fff;
  color: #4183D7;
}

.digital-marketing-tab:hover {
  transition: translateY(5px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #2ECC71;
  color: #fff;
}

.digital-marketing-tab:hover .icon {
  color: #fff;
}

.digital-marketing-tab:hover .button {
  background-color: #fff;
  color: #2ECC71;
}

.telecoms-services-tab {
  transition: translateY(5px) 0.5s;
  transform: translateY(5px);
  background-color: #fff;
  color: #333645;
}

.telecoms-services-tab .icon {
  color: #D64541;
}

.telecoms-services-tab .button {
  background-color: #fff;
  color: #D64541;
}

.telecoms-services-tab:hover {
  transition: translateY(5px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #D64541;
  color: #fff;
}

.telecoms-services-tab:hover .icon {
  color: #fff;
}

.telecoms-services-tab:hover .button {
  background-color: #fff;
  color: #D64541;
}

.webdesign-tab {
  transition: translateY(5px) 0.5s;
  transform: translateY(5px);
  background-color: #fff;
  color: #333645;
}

.webdesign-tab .icon {
  color: #926FB1;
}

.webdesign-tab .button {
  background-color: #fff;
  color: #D64541;
}

.webdesign-tab:hover {
  transition: translateY(5px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #926FB1;
  color: #fff;
}

.webdesign-tab:hover .icon {
  color: #fff;
}

.webdesign-tab:hover .button {
  background-color: #fff;
  color: #926FB1;
}

.cyber-security-tab {
  transition: translateY(5px) 0.5s;
  transform: translateY(5px);
  background-color: #fff;
  color: #333645;
}

.cyber-security-tab .icon {
  color: #f62459;
}

.cyber-security-tab .button {
  background-color: #fff;
  color: #f62459;
}

.cyber-security-tab:hover {
  transition: translateY(5px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #f62459;
  color: #fff;
}

.cyber-security-tab:hover .icon {
  color: #fff;
}

.cyber-security-tab:hover .button {
  background-color: #fff;
  color: #f62459;
}

.developer-training-tab {
  transition: translateY(5px) 0.5s;
  transform: translateY(5px);
  background-color: #fff;
  color: #333645;
}

.developer-training-tab .icon {
  color: #ce4125;
}

.developer-training-tab .button {
  background-color: #fff;
  color: #ce4125;
}

.developer-training-tab:hover {
  transition: translateY(5px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #ce4125;
  color: #fff;
}

.developer-training-tab:hover .icon {
  color: #fff;
}

.developer-training-tab:hover .button {
  background-color: #fff;
  color: #ce4125;
}

.banner {
  color: #000;
  font-size: 1rem;
  background-color: #fff;
  margin-top: -1rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2px;
}

img {
  width: 100%;
  height: auto;
}

input {
  margin-right: 10px;
  padding: 18px;
}

.button-support {
  background-color: #4387F6;
  color: #fff;
  font-size: 1.6rem;
  padding: 16px 30px;
  border: none;
  margin: 10px;
  border-radius: 4%;
  cursor: pointer;
}

.button-contact {
  background-color: #999aa2;
  color: #fff;
  font-size: 1.6rem;
  padding: 16px 30px;
  border: none;
  margin: 10px;
  border-radius: 4%;
  cursor: pointer;
}

.burger-menu {
  background-color: #212330;
  padding: 1px 13px 6px 13px;
  border-radius: 4px;
  font-size: 40px;
  cursor: pointer;
  margin-left: 10px;
}

h2 {
  background-color: #333645;
  color: #fff;
  text-align: center;
  margin-left: -1rem;
  margin-right: -0.5rem;
  margin-top: 0rem;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-color: #333645;
  color: #fff;
  padding: 10px;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: #212330;
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 0px;
}

.button-bespoke-software-banner {
  margin-left: 45px;
  margin-right: 60px;
  background-color: #67809f;
  height: 40px;
  width: 40px;
}

.button-it-support-banner {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #4183D7;
  height: 40px;
  width: 40px;
}

.button-digital-marketing-banner {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #2ECC71;
  height: 40px;
  width: 40px;
}

.button-telecoms-services-banner {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #D64541;
  height: 40px;
  width: 40px;
}

.button-web-design-banner {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #926FB1;
  height: 40px;
  width: 40px;
}

.button-cyber-security-banner {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #f62459;
  height: 40px;
  width: 40px;
}

.button-developer-course-banner {
  margin-left: 60px;
  margin-right: 60px;
  background-color: #ce4125;
  height: 40px;
  width: 40px;
}
