@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2kiay8");
  src: url("../fonts/icomoon.eot?2kiay8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2kiay8") format("truetype"), url("../fonts/icomoon.woff?2kiay8") format("woff"), url("../fonts/icomoon.svg?2kiay8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

h1 {
  color: #333645;
  font-family: poppins;
  font-weight: bold;
  font-size: 2.75rem;
}

h2 {
  color: #333645;
  font-family: poppins;
  font-weight: bold;
  font-size: 1.75rem;
}

h4 {
  font-family: poppins;
  font-weight: 400;
  margin: 5px 0 5px 0;
  font-size: 1.3rem;
}

p {
  font-family: poppins;
  font-weight: 400 thin;
  font-size: 0.83rem;
  padding: 0 20px 0 20px;
}

.icon-star {
  color: #FFA500;
  font-size: 4rem;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2kiay8");
  src: url("../fonts/icomoon.eot?2kiay8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2kiay8") format("truetype"), url("../fonts/icomoon.woff?2kiay8") format("woff"), url("../fonts/icomoon.svg?2kiay8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

h1 {
  color: #333645;
  font-family: poppins;
  font-weight: bold;
  font-size: 2.75rem;
}

h2 {
  color: #333645;
  font-family: poppins;
  font-weight: bold;
  font-size: 1.75rem;
}

h4 {
  font-family: poppins;
  font-weight: 400;
  margin: 5px 0 5px 0;
  font-size: 1.3rem;
}

p {
  font-family: poppins;
  font-weight: 400 thin;
  font-size: 0.83rem;
  padding: 0 20px 0 20px;
}

.icon-star {
  color: #FFA500;
  font-size: 4rem;
}

.button-facebook {
  background-color: #212330;
  color: #fff;
  font-size: 1.6rem;
  padding-top: 10px;
  width: 70px;
  height: 55px;
  border: none;
  margin: 10px;
  border-radius: 0%;
  cursor: pointer;
}

.button-facebook:hover {
  background-color: #3b5998;
}

.button-linkedin {
  background-color: #212330;
  color: #fff;
  font-size: 1.6rem;
  padding-top: 10px;
  width: 70px;
  height: 55px;
  border: none;
  margin: 10px;
  border-radius: 0%;
  cursor: pointer;
}

.button-linkedin:hover {
  background-color: #0077b5;
}

.button-twitter {
  background-color: #212330;
  color: #fff;
  font-size: 1.6rem;
  padding-top: 10px;
  width: 70px;
  height: 55px;
  border: none;
  margin: 10px;
  border-radius: 0%;
  cursor: pointer;
}

.button-twitter:hover {
  background-color: #00aced;
}

.button-instagram {
  background-color: #212330;
  color: #fff;
  font-size: 1.6rem;
  padding-top: 10px;
  width: 70px;
  height: 55px;
  border: none;
  margin: 10px;
  border-radius: 0%;
  cursor: pointer;
}

.button-instagram:hover {
  background-color: #d93175;
}

.button-support {
  background-color: #4387F6;
  color: #fff;
  font-size: 1.6rem;
  padding: 16px 30px;
  border: none;
  margin: 10px;
  border-radius: 2%;
  cursor: pointer;
}

.button-contact {
  background-color: #999aa2;
  color: #fff;
  font-size: 1.6rem;
  padding: 16px 30px;
  border: none;
  margin: 10px;
  border-radius: 2%;
  cursor: pointer;
}

.top-banner {
  display: flex;
  justify-content: center;
  background-color: #333645;
  height: 6.2rem;
  margin-bottom: 0;
}

.top-banner .button-bespoke-software-banner {
  margin-left: 45px;
  margin-right: 60px;
  color: #67809f;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-it-support-banner {
  margin-left: 60px;
  margin-right: 60px;
  color: #4183D7;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-digital-marketing-banner {
  margin-left: 60px;
  margin-right: 60px;
  color: #2ECC71;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-telecoms-services-banner {
  margin-left: 60px;
  margin-right: 60px;
  color: #D64541;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-web-design-banner {
  margin-left: 60px;
  margin-right: 60px;
  color: #926FB1;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-cyber-security-banner {
  margin-left: 60px;
  margin-right: 60px;
  color: #f62459;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-developer-course-banner {
  margin-left: 60px;
  margin-right: 45px;
  color: #ce4125;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.btn-dark {
  background-color: #272936;
  color: #fff;
  cursor: pointer;
}

.btn-grey {
  background-color: #999aa2;
  color: #fff;
  cursor: pointer;
}

.btn-blue {
  background-color: #4387F6;
  color: #fff;
  cursor: pointer;
}

.btn-green {
  background-color: #00b67b;
  color: #fff;
  cursor: pointer;
}

.bespoke-button, .support-button, .marketing-button, .telecoms-button, .webdesign-button, .cybersecurity-button, .developer-button {
  height: 50px;
  width: 130px;
  border-radius: 3px;
  border: none;
  font-size: medium;
  font-weight: 600;
}

.our-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.bespoke-software-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 340px;
  height: 280px;
  margin: 60px 20px 0px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.bespoke-software-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.bespoke-software-tab .icon {
  color: #67809f;
}

.bespoke-software-tab .button {
  background-color: #fff;
  color: #67809f;
}

.bespoke-software-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #67809f;
  color: #fff;
}

.bespoke-software-tab:hover .icon {
  color: #fff;
}

.bespoke-software-tab:hover .button {
  background-color: #fff;
  color: #67809f;
}

.bespoke-software-tab .bespoke-button {
  background-color: #67809f;
  color: #fff;
}

.bespoke-software-tab:hover .bespoke-button {
  background-color: #fff;
  color: #67809f;
  cursor: pointer;
}

.bespoke-software-tab .bespoke-circle {
  background-color: #67809f;
}

.bespoke-software-tab:hover .bespoke-circle {
  background-color: #fff;
}

.bespoke-software-tab .icon-laptop {
  color: #fff;
}

.bespoke-software-tab:hover .icon-laptop {
  color: #67809f;
}

.it-support-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 340px;
  height: 280px;
  margin: 60px 20px 0px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.it-support-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.it-support-tab .icon {
  color: #4183D7;
}

.it-support-tab .button {
  background-color: #fff;
  color: #4183D7;
}

.it-support-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #4183D7;
  color: #fff;
}

.it-support-tab:hover .icon {
  color: #fff;
}

.it-support-tab:hover .button {
  background-color: #fff;
  color: #4183D7;
}

.it-support-tab .support-button {
  background-color: #4183D7;
  color: #fff;
}

.it-support-tab:hover .support-button {
  background-color: #fff;
  color: #4183D7;
  cursor: pointer;
}

.it-support-tab .support-circle {
  background-color: #4183D7;
}

.it-support-tab:hover .support-circle {
  background-color: #fff;
}

.it-support-tab .icon-display1 {
  color: #fff;
}

.it-support-tab:hover .icon-display1 {
  color: #4183D7;
}

.digital-marketing-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 340px;
  height: 280px;
  margin: 60px 20px 0px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.digital-marketing-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.digital-marketing-tab .icon {
  color: #2ECC71;
}

.digital-marketing-tab .button {
  background-color: #fff;
  color: #4183D7;
}

.digital-marketing-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #2ECC71;
  color: #fff;
}

.digital-marketing-tab:hover .icon {
  color: #fff;
}

.digital-marketing-tab:hover .button {
  background-color: #fff;
  color: #2ECC71;
}

.digital-marketing-tab .marketing-button {
  background-color: #2ECC71;
  color: #fff;
}

.digital-marketing-tab:hover .marketing-button {
  background-color: #fff;
  color: #2ECC71;
  cursor: pointer;
}

.digital-marketing-tab .marketing-circle {
  background-color: #2ECC71;
}

.digital-marketing-tab:hover .marketing-circle {
  background-color: #fff;
}

.digital-marketing-tab .icon-bar-graph {
  color: #fff;
}

.digital-marketing-tab:hover .icon-bar-graph {
  color: #2ECC71;
}

.telecoms-services-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 228px;
  height: 280px;
  margin: 0px 20px 165px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.telecoms-services-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.telecoms-services-tab .icon {
  color: #D64541;
}

.telecoms-services-tab .button {
  background-color: #fff;
  color: #D64541;
}

.telecoms-services-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #D64541;
  color: #fff;
}

.telecoms-services-tab:hover .icon {
  color: #fff;
}

.telecoms-services-tab:hover .button {
  background-color: #fff;
  color: #D64541;
}

.telecoms-services-tab .telecoms-button {
  background-color: #D64541;
  color: #fff;
}

.telecoms-services-tab:hover .telecoms-button {
  background-color: #fff;
  color: #D64541;
  cursor: pointer;
}

.telecoms-services-tab .telecoms-circle {
  background-color: #D64541;
}

.telecoms-services-tab:hover .telecoms-circle {
  background-color: #fff;
}

.telecoms-services-tab .icon-phone_in_talk {
  color: #fff;
}

.telecoms-services-tab:hover .icon-phone_in_talk {
  color: #D64541;
}

.webdesign-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 228px;
  height: 280px;
  margin: 0px 20px 165px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.webdesign-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.webdesign-tab .icon {
  color: #926FB1;
}

.webdesign-tab .button {
  background-color: #fff;
  color: #D64541;
}

.webdesign-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #926FB1;
  color: #fff;
}

.webdesign-tab:hover .icon {
  color: #fff;
}

.webdesign-tab:hover .button {
  background-color: #fff;
  color: #926FB1;
}

.webdesign-tab .webdesign-button {
  background-color: #926FB1;
  color: #fff;
}

.webdesign-tab:hover .webdesign-button {
  background-color: #fff;
  color: #926FB1;
  cursor: pointer;
}

.webdesign-tab .webdesign-circle {
  background-color: #926FB1;
}

.webdesign-tab:hover .webdesign-circle {
  background-color: #fff;
}

.webdesign-tab .icon-code1 {
  color: #fff;
}

.webdesign-tab:hover .icon-code1 {
  color: #926FB1;
}

.cyber-security-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 228px;
  height: 280px;
  margin: 0px 20px 165px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.cyber-security-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.cyber-security-tab .icon {
  color: #f62459;
}

.cyber-security-tab .button {
  background-color: #fff;
  color: #f62459;
}

.cyber-security-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #f62459;
  color: #fff;
}

.cyber-security-tab:hover .icon {
  color: #fff;
}

.cyber-security-tab:hover .button {
  background-color: #fff;
  color: #f62459;
}

.cyber-security-tab .cybersecurity-button {
  background-color: #f62459;
  color: #fff;
}

.cyber-security-tab:hover .cybersecurity-button {
  background-color: #fff;
  color: #f62459;
  cursor: pointer;
}

.cyber-security-tab .security-circle {
  background-color: #f62459;
}

.cyber-security-tab:hover .security-circle {
  background-color: #fff;
}

.cyber-security-tab .icon-security {
  color: #fff;
}

.cyber-security-tab:hover .icon-security {
  color: #f62459;
}

.developer-training-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 228px;
  height: 280px;
  margin: 0px 20px 165px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.developer-training-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.developer-training-tab .icon {
  color: #ce4125;
}

.developer-training-tab .button {
  background-color: #fff;
  color: #ce4125;
}

.developer-training-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #ce4125;
  color: #fff;
}

.developer-training-tab:hover .icon {
  color: #fff;
}

.developer-training-tab:hover .button {
  background-color: #fff;
  color: #ce4125;
}

.developer-training-tab .developer-button {
  background-color: #ce4125;
  color: #fff;
}

.developer-training-tab:hover .developer-button {
  background-color: #fff;
  color: #ce4125;
  cursor: pointer;
}

.developer-training-tab .developer-circle {
  background-color: #ce4125;
}

.developer-training-tab:hover .developer-circle {
  background-color: #fff;
}

.developer-training-tab .icon-school {
  color: #fff;
}

.developer-training-tab:hover .icon-school {
  color: #ce4125;
}

.bespoke-circle, .support-circle, .marketing-circle, .telecoms-circle, .webdesign-circle, .security-circle, .developer-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.icon-laptop, .icon-display1, .icon-bar-graph, .icon-phone_in_talk, .icon-code1, .icon-security, .icon-school {
  font-size: 2.25rem;
}

body {
  margin: 0;
}

.banner {
  color: #333645;
  font-size: 1rem;
  background-color: #fff;
  margin-top: -1rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 100%;
  height: auto;
}

input {
  margin-right: 10px;
  padding: 18px;
}

.burger-menu {
  background-color: #212330;
  padding: 1px 13px 6px 13px;
  border-radius: 4px;
  font-size: 40px;
  cursor: pointer;
  margin-left: 10px;
}

h2 {
  color: #333645;
  text-align: right;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-color: #333645;
  color: #fff;
  padding: 10px;
}

.bottom-bar {
  position: static;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: #212330;
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 0px;
}

h3 {
  height: 600px;
  width: 100%;
  background-color: darkred;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.service-header-left, .service-header-right {
  flex-grow: 1;
  text-align: center;
}

.service-header-left {
  text-align: right;
}

.service-header-right {
  text-align: center;
}

.our-services {
  height: 1000px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: #fff;
}

.netmatters-introview {
  height: 600px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: #333645;
}

.news {
  height: 800px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: #fff;
}

.newsletter {
  height: 300px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: #dddddd;
}
