@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2kiay8");
  src: url("../fonts/icomoon.eot?2kiay8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2kiay8") format("truetype"), url("../fonts/icomoon.woff?2kiay8") format("woff"), url("../fonts/icomoon.svg?2kiay8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

h1 {
  color: #333645;
  font-family: poppins;
  font-weight: bold;
  font-size: 2.75rem;
}

h2 {
  color: #333645;
  font-family: poppins;
  font-weight: bold;
  font-size: 1.75rem;
}

h3 {
  font-family: poppins;
  font-weight: 500;
  margin: 5px 0 5px 0;
  font-size: 1.3rem;
}

h4 {
  font-family: poppins;
  font-weight: 400;
  margin: 5px 0 5px 0;
  font-size: 1.3rem;
}

p {
  font-family: poppins;
  font-weight: 400 thin;
  font-size: 0.83rem;
  padding: 0 20px 0 20px;
}

.netmatters-introview {
  color: #fff;
  background-color: #333645;
}

.netmatters-introview h2 {
  color: #fff;
  font-size: 2.25rem;
  text-align: left;
  padding-left: 1.25rem;
}

.netmatters-introview p {
  font-size: 1.035rem;
  padding-bottom: 1rem;
}

.netmatters-introview .preverb {
  font-weight: 600;
}

.netmatters-introview .review {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: oblique;
}

.netmatters-introview .reviewer {
  font-size: 1.07rem;
  font-weight: 600;
  color: #999aa2;
}

.netmatters-introview .reviewer-company {
  font-size: 1.07rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.netmatters-introview .reviewer-company:hover {
  text-decoration: underline;
}

.netmatters-introview .btn-dark, .netmatters-introview .btn-blue, .netmatters-introview .btn-green {
  font-weight: 500;
  font-size: 1.175rem;
}

.netmatters-introview .btn-green, .netmatters-introview .btn-blue {
  margin-top: 0.9rem;
}

.netmatters-introview .icon-arrow_forward {
  font-weight: 600;
  font-size: 1.3rem;
}

.netmatters-introview .icon-star {
  color: #FFA500;
  font-size: 3.15rem;
  letter-spacing: 6px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2kiay8");
  src: url("../fonts/icomoon.eot?2kiay8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2kiay8") format("truetype"), url("../fonts/icomoon.woff?2kiay8") format("woff"), url("../fonts/icomoon.svg?2kiay8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

h1 {
  color: #333645;
  font-family: poppins;
  font-weight: bold;
  font-size: 2.75rem;
}

h2 {
  color: #333645;
  font-family: poppins;
  font-weight: bold;
  font-size: 1.75rem;
}

h3 {
  font-family: poppins;
  font-weight: 500;
  margin: 5px 0 5px 0;
  font-size: 1.3rem;
}

h4 {
  font-family: poppins;
  font-weight: 400;
  margin: 5px 0 5px 0;
  font-size: 1.3rem;
}

p {
  font-family: poppins;
  font-weight: 400 thin;
  font-size: 0.83rem;
  padding: 0 20px 0 20px;
}

.netmatters-introview {
  color: #fff;
  background-color: #333645;
}

.netmatters-introview h2 {
  color: #fff;
  font-size: 2.25rem;
  text-align: left;
  padding-left: 1.25rem;
}

.netmatters-introview p {
  font-size: 1.035rem;
  padding-bottom: 1rem;
}

.netmatters-introview .preverb {
  font-weight: 600;
}

.netmatters-introview .review {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: oblique;
}

.netmatters-introview .reviewer {
  font-size: 1.07rem;
  font-weight: 600;
  color: #999aa2;
}

.netmatters-introview .reviewer-company {
  font-size: 1.07rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.netmatters-introview .reviewer-company:hover {
  text-decoration: underline;
}

.netmatters-introview .btn-dark, .netmatters-introview .btn-blue, .netmatters-introview .btn-green {
  font-weight: 500;
  font-size: 1.175rem;
}

.netmatters-introview .btn-green, .netmatters-introview .btn-blue {
  margin-top: 0.9rem;
}

.netmatters-introview .icon-arrow_forward {
  font-weight: 600;
  font-size: 1.3rem;
}

.netmatters-introview .icon-star {
  color: #FFA500;
  font-size: 3.15rem;
  letter-spacing: 6px;
}

@media (max-width: 768px) {
  .banner {
    width: fit-content;
  }
  .bottom-bar {
    width: fit-content;
  }
  .scrolling_image-banner {
    width: fit-content;
  }
  .our-services {
    width: fit-content;
    height: fit-content;
  }
  .netmatters-introview {
    width: fit-content;
  }
  .footer {
    width: fit-content;
  }
  .news-section {
    width: fit-content;
  }
  .newsletter {
    width: fit-content;
  }
}

@media (max-width: 912px) {
  .banner {
    width: 912px;
  }
  .bottom-bar {
    width: 912px;
  }
  .scrolling_image-banner {
    width: 912px;
  }
  .our-services {
    width: 912px;
    height: 912px;
  }
  .netmatters-introview {
    width: 912px;
  }
  .footer {
    width: 912px;
  }
  .news-section {
    width: 912px;
  }
  .newsletter {
    width: 912px;
  }
}

@media (max-width: 412px) {
  .banner {
    width: fit-content;
  }
  .bottom-bar {
    width: fit-content;
  }
  .scrolling_image-banner {
    width: fit-content;
  }
  .our-services {
    width: fit-content;
    height: fit-content;
  }
  .netmatters-introview {
    width: fit-content;
  }
  .footer {
    width: fit-content;
  }
  .news-section {
    width: fit-content;
  }
  .newsletter {
    width: fit-content;
  }
}

.button-support {
  background-color: #4387F6;
  color: #fff;
  font-size: 1.6rem;
  padding: 16px 30px;
  border: none;
  margin: 10px;
  border-radius: 2%;
  cursor: pointer;
}

.button-contact {
  background-color: #999aa2;
  color: #fff;
  font-size: 1.6rem;
  padding: 16px 30px;
  border: none;
  margin: 10px;
  border-radius: 2%;
  cursor: pointer;
}

.button-contact:hover {
  background-color: #a6a7ae;
}

.dropdown-bespoke,
.dropdown-support,
.dropdown-marketing,
.dropdown-telecoms,
.dropdown-webdesign,
.dropdown-security,
.dropdown-developer {
  visibility: hidden;
  position: fixed;
  top: 100%;
  left: 0;
  width: 2000px;
  height: 1000px;
  background-color: #c90798;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.top-banner {
  display: flex;
  justify-content: center;
  background-color: #333645;
  height: 6.2rem;
  margin-bottom: 0;
}

.top-banner .button-bespoke-software-banner {
  color: #67809f;
  width: 6.5%;
  height: 100%;
  padding-top: 1rem;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-bespoke-software-banner:hover {
  background-color: #67809f;
  color: #fff;
}

.top-banner .button-bespoke-software-banner:hover .dropdown-bespoke {
  visibility: visible;
}

.top-banner .button-bespoke-software-banner .icon-laptop {
  font-size: 1.5rem;
}

.top-banner .button-it-support-banner {
  color: #4183D7;
  width: 6.5%;
  height: 100%;
  padding-top: 1rem;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-it-support-banner:hover {
  visibility: visible;
  background-color: #4183D7;
  color: #fff;
}

.top-banner .button-it-support-banner .icon-display1 {
  font-size: 1.5rem;
}

.top-banner .button-digital-marketing-banner {
  color: #2ECC71;
  width: 6.5%;
  height: 100%;
  padding-top: 1rem;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-digital-marketing-banner:hover {
  visibility: visible;
  background-color: #2ECC71;
  color: #fff;
}

.top-banner .button-digital-marketing-banner .icon-bar-graph {
  font-size: 1.5rem;
}

.top-banner .button-telecoms-services-banner {
  color: #D64541;
  width: 6.5%;
  height: 100%;
  padding-top: 1rem;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-telecoms-services-banner:hover {
  visibility: visible;
  background-color: #D64541;
  color: #fff;
}

.top-banner .button-telecoms-services-banner .icon-phone_in_talk {
  font-size: 1.5rem;
}

.top-banner .button-web-design-banner {
  color: #926FB1;
  width: 6.5%;
  height: 100%;
  padding-top: 1rem;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-web-design-banner:hover {
  visibility: visible;
  background-color: #926FB1;
  color: #fff;
}

.top-banner .button-web-design-banner .icon-code1 {
  font-size: 1.5rem;
}

.top-banner .button-cyber-security-banner {
  color: #f62459;
  width: 6.5%;
  height: 100%;
  padding-top: 1rem;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-cyber-security-banner:hover {
  visibility: visible;
  background-color: #f62459;
  color: #fff;
}

.top-banner .button-cyber-security-banner .icon-security {
  font-size: 1.5rem;
}

.top-banner .button-developer-course-banner {
  color: #ce4125;
  width: 6.5%;
  height: 100%;
  padding-top: 1rem;
  cursor: pointer;
  border-style: none;
  background-color: #333645;
}

.top-banner .button-developer-course-banner:hover {
  visibility: visible;
  background-color: #ce4125;
  color: #fff;
}

.top-banner .button-developer-course-banner .icon-school {
  font-size: 1.5rem;
}

.btn-dark {
  background-color: #272936;
  color: #fff;
  height: 55px;
  width: fit-content;
  padding: 15px 40px 15px 40px;
  margin: auto 3px 5px;
  border-radius: 6px;
  border: none;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: #121318;
}

.btn-grey {
  background-color: #999aa2;
  color: #fff;
  height: 55px;
  width: fit-content;
  padding: 15px 20px 15px 20px;
  margin: auto 3px 5px;
  border-radius: 6px;
  border: none;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

.btn-grey:hover {
  background-color: #7e808a;
}

.btn-blue {
  background-color: #4387F6;
  color: #fff;
  height: 55px;
  width: fit-content;
  padding: 15px 20px 15px 20px;
  margin: auto 3px 5px;
  border-radius: 6px;
  border: none;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: #74a6f8;
}

.btn-green {
  background-color: #00b67b;
  color: #fff;
  height: 55px;
  width: fit-content;
  padding: 15px 20px 15px 20px;
  margin: auto 3px 5px;
  border-radius: 6px;
  border: none;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

.btn-green:hover {
  background-color: #008359;
}

.bespoke-button, .support-button, .marketing-button, .telecoms-button, .webdesign-button, .cybersecurity-button, .developer-button {
  height: 50px;
  width: 130px;
  border-radius: 3px;
  border: none;
  font-size: medium;
  font-weight: 600;
}

.btn-nl-subscribe {
  background-color: #333645;
  color: #fff;
  height: fit-content;
  width: fit-content;
  padding: 0.9rem;
  margin: auto 3px 5px;
  border-radius: 4px;
  border: none;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}

.btn-nl-subscribe:hover {
  background-color: #1d1f28;
}

.button-facebook, .button-linkedin, .button-twitter, .button-instagram {
  background-color: #212330;
  color: #fff;
  font-size: 1.6rem;
  padding-top: 10px;
  width: 70px;
  height: 55px;
  margin-right: 3px;
  border: none;
  border-radius: 0%;
  cursor: pointer;
}

.button-facebook:hover {
  background-color: #3b5998;
}

.button-linkedin:hover {
  background-color: #0077b5;
}

.button-twitter:hover {
  background-color: #00aced;
}

.button-instagram:hover {
  background-color: #d93175;
}

.button-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 0 8px 0 0;
  border-style: none;
  color: #fff;
  background-color: #999aa2;
  width: fit-content;
  height: fit-content;
  font-family: poppins;
  font-size: 0.9rem;
  z-index: 9999;
}

.button-consent:hover {
  background-color: #7e808a;
}

.button-chatsupport {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2rem;
  background: none;
  z-index: 9999;
  border-style: none;
}

.our-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.bespoke-software-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 340px;
  height: 280px;
  margin: 60px 20px 0px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.bespoke-software-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.bespoke-software-tab .icon {
  color: #67809f;
}

.bespoke-software-tab .button {
  background-color: #fff;
  color: #67809f;
}

.bespoke-software-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #67809f;
  color: #fff;
}

.bespoke-software-tab:hover .icon {
  color: #fff;
}

.bespoke-software-tab:hover .button {
  background-color: #fff;
  color: #67809f;
}

.bespoke-software-tab .bespoke-button {
  background-color: #67809f;
  color: #fff;
}

.bespoke-software-tab:hover .bespoke-button {
  background-color: #fff;
  color: #67809f;
  cursor: pointer;
}

.bespoke-software-tab .bespoke-circle {
  background-color: #67809f;
}

.bespoke-software-tab:hover .bespoke-circle {
  background-color: #fff;
}

.bespoke-software-tab .icon-laptop {
  color: #fff;
}

.bespoke-software-tab:hover .icon-laptop {
  color: #67809f;
}

.it-support-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 340px;
  height: 280px;
  margin: 60px 20px 0px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.it-support-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.it-support-tab .icon {
  color: #4183D7;
}

.it-support-tab .button {
  background-color: #fff;
  color: #4183D7;
}

.it-support-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #4183D7;
  color: #fff;
}

.it-support-tab:hover .icon {
  color: #fff;
}

.it-support-tab:hover .button {
  background-color: #fff;
  color: #4183D7;
}

.it-support-tab .support-button {
  background-color: #4183D7;
  color: #fff;
}

.it-support-tab:hover .support-button {
  background-color: #fff;
  color: #4183D7;
  cursor: pointer;
}

.it-support-tab .support-circle {
  background-color: #4183D7;
}

.it-support-tab:hover .support-circle {
  background-color: #fff;
}

.it-support-tab .icon-display1 {
  color: #fff;
}

.it-support-tab:hover .icon-display1 {
  color: #4183D7;
}

.digital-marketing-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 340px;
  height: 280px;
  margin: 60px 20px 0px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.digital-marketing-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.digital-marketing-tab .icon {
  color: #2ECC71;
}

.digital-marketing-tab .button {
  background-color: #fff;
  color: #4183D7;
}

.digital-marketing-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #2ECC71;
  color: #fff;
}

.digital-marketing-tab:hover .icon {
  color: #fff;
}

.digital-marketing-tab:hover .button {
  background-color: #fff;
  color: #2ECC71;
}

.digital-marketing-tab .marketing-button {
  background-color: #2ECC71;
  color: #fff;
}

.digital-marketing-tab:hover .marketing-button {
  background-color: #fff;
  color: #2ECC71;
  cursor: pointer;
}

.digital-marketing-tab .marketing-circle {
  background-color: #2ECC71;
}

.digital-marketing-tab:hover .marketing-circle {
  background-color: #fff;
}

.digital-marketing-tab .icon-bar-graph {
  color: #fff;
}

.digital-marketing-tab:hover .icon-bar-graph {
  color: #2ECC71;
}

.telecoms-services-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 228px;
  height: 280px;
  margin: 0px 20px 165px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.telecoms-services-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.telecoms-services-tab .icon {
  color: #D64541;
}

.telecoms-services-tab .button {
  background-color: #fff;
  color: #D64541;
}

.telecoms-services-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #D64541;
  color: #fff;
}

.telecoms-services-tab:hover .icon {
  color: #fff;
}

.telecoms-services-tab:hover .button {
  background-color: #fff;
  color: #D64541;
}

.telecoms-services-tab .telecoms-button {
  background-color: #D64541;
  color: #fff;
}

.telecoms-services-tab:hover .telecoms-button {
  background-color: #fff;
  color: #D64541;
  cursor: pointer;
}

.telecoms-services-tab .telecoms-circle {
  background-color: #D64541;
}

.telecoms-services-tab:hover .telecoms-circle {
  background-color: #fff;
}

.telecoms-services-tab .icon-phone_in_talk {
  color: #fff;
}

.telecoms-services-tab:hover .icon-phone_in_talk {
  color: #D64541;
}

.webdesign-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 228px;
  height: 280px;
  margin: 0px 20px 165px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.webdesign-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.webdesign-tab .icon {
  color: #926FB1;
}

.webdesign-tab .button {
  background-color: #fff;
  color: #D64541;
}

.webdesign-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #926FB1;
  color: #fff;
}

.webdesign-tab:hover .icon {
  color: #fff;
}

.webdesign-tab:hover .button {
  background-color: #fff;
  color: #926FB1;
}

.webdesign-tab .webdesign-button {
  background-color: #926FB1;
  color: #fff;
}

.webdesign-tab:hover .webdesign-button {
  background-color: #fff;
  color: #926FB1;
  cursor: pointer;
}

.webdesign-tab .webdesign-circle {
  background-color: #926FB1;
}

.webdesign-tab:hover .webdesign-circle {
  background-color: #fff;
}

.webdesign-tab .icon-code1 {
  color: #fff;
}

.webdesign-tab:hover .icon-code1 {
  color: #926FB1;
}

.cyber-security-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 228px;
  height: 280px;
  margin: 0px 20px 165px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.cyber-security-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.cyber-security-tab .icon {
  color: #f62459;
}

.cyber-security-tab .button {
  background-color: #fff;
  color: #f62459;
}

.cyber-security-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #f62459;
  color: #fff;
}

.cyber-security-tab:hover .icon {
  color: #fff;
}

.cyber-security-tab:hover .button {
  background-color: #fff;
  color: #f62459;
}

.cyber-security-tab .cybersecurity-button {
  background-color: #f62459;
  color: #fff;
}

.cyber-security-tab:hover .cybersecurity-button {
  background-color: #fff;
  color: #f62459;
  cursor: pointer;
}

.cyber-security-tab .security-circle {
  background-color: #f62459;
}

.cyber-security-tab:hover .security-circle {
  background-color: #fff;
}

.cyber-security-tab .icon-security {
  color: #fff;
}

.cyber-security-tab:hover .icon-security {
  color: #f62459;
}

.developer-training-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 20px;
  width: 228px;
  height: 280px;
  margin: 0px 20px 165px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
  transition: translateY(10px) 0.5s;
  transform: translateY(10px);
  background-color: #fff;
  color: #333645;
}

.developer-training-tab:hover {
  transform: translateY(-10px);
  border: none;
}

.developer-training-tab .icon {
  color: #ce4125;
}

.developer-training-tab .button {
  background-color: #fff;
  color: #ce4125;
}

.developer-training-tab:hover {
  transition: translateY(10px) 0.5s, background-color 0.5s, color 0.5s;
  background-color: #ce4125;
  color: #fff;
}

.developer-training-tab:hover .icon {
  color: #fff;
}

.developer-training-tab:hover .button {
  background-color: #fff;
  color: #ce4125;
}

.developer-training-tab .developer-button {
  background-color: #ce4125;
  color: #fff;
}

.developer-training-tab:hover .developer-button {
  background-color: #fff;
  color: #ce4125;
  cursor: pointer;
}

.developer-training-tab .developer-circle {
  background-color: #ce4125;
}

.developer-training-tab:hover .developer-circle {
  background-color: #fff;
}

.developer-training-tab .icon-school {
  color: #fff;
}

.developer-training-tab:hover .icon-school {
  color: #ce4125;
}

.bespoke-circle, .support-circle, .marketing-circle, .telecoms-circle, .webdesign-circle, .security-circle, .developer-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.icon-laptop, .icon-display1, .icon-bar-graph, .icon-phone_in_talk, .icon-code1, .icon-security, .icon-school {
  font-size: 2.25rem;
}

body {
  margin: 0;
}

.banner {
  display: flex;
  justify-content: center;
  color: #333645;
  font-size: 1rem;
  background-color: #fff;
  margin-top: 1rem;
}

.top-banner-title-upper {
  font-size: x-small;
  margin: 0px 0 0 0;
  color: #fff;
}

.top-banner-title-lower {
  font-size: medium;
  margin: 0 0 10px 0;
  color: #fff;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nm-logo-main {
  size: 40%;
}

input {
  margin-right: 10px;
  padding: 18px;
}

.burger-menu {
  background-color: #212330;
  padding: 1px 13px 6px 13px;
  border-radius: 4px;
  font-size: 40px;
  cursor: pointer;
  margin-left: 10px;
}

h2 {
  color: #333645;
  text-align: right;
}

.bottom-bar {
  position: static;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100% -10px;
  background-color: #212330;
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 0px;
}

.scrolling_image-banner {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.service-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 60%;
  margin-left: 20%;
}

.service-header .service-header-left, .service-header .service-header-right {
  flex-grow: 1;
  text-align: center;
}

.service-header .service-header-left {
  text-align: left;
}

.service-header .service-header-right {
  text-align: right;
}

.our-services {
  height: 1000px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: #fff;
}

.partnerscroll-services {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.partnerscroll-services img {
  width: auto;
  height: 75px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
  filter: grayscale(100%);
}

.partnerscroll-services img:hover {
  filter: grayscale(0%);
}

.netmatters-introview {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
  padding: 1rem 2rem 3rem 2rem;
  margin: 0;
  background-color: #333645;
}

.introview-left, .introview-right {
  width: 23%;
}

.news-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 800px;
  width: 100%;
  background-color: #fff;
}

.news-section .news-header {
  text-align: center;
  justify-content: space-between;
  font-family: poppins;
  font-size: 2.3rem;
  font-weight: 600;
  margin-top: -4rem;
  margin-bottom: 2rem;
  width: 62.5%;
}

.news-tab-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -2.5rem;
  margin-bottom: 2.5rem;
  justify-content: center;
}

.posted-by {
  display: flex;
  align-items: center;
  font-family: poppins;
}

.posted-by .profilepic {
  margin-top: 25px;
  border-radius: 50%;
  height: 50px;
  width: auto;
}

.posted-by .posted-by .postinfo {
  display: flex;
  flex-direction: column;
}

.posted-by .posted-by .postinfo .datepost {
  display: block;
}

.posted-by .postinfoheader {
  width: 90%;
  font-size: medium;
  margin-top: 2rem;
  margin-bottom: -0.5rem;
  margin-left: 1.1rem;
}

.news-tab-img img {
  width: 100%;
  height: auto;
}

.news-tab-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 1px solid #cecece;
  border-radius: 0 0 5px 5px;
  width: 14.5%;
  height: 520px;
  margin: 60px 10px 0px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
}

.news-tab-left:hover {
  transform: translateY(-10px);
  border: none;
}

.news-tab-left .news-tab-left-header {
  font-size: medium;
  font-weight: 600;
  color: #2ECC71;
  margin-left: -1rem;
}

.news-tab-left img {
  margin-bottom: 2px;
  margin-top: -46px;
}

.news-tab-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 1px solid #cecece;
  border-radius: 0 0 5px 5px;
  width: 14.5%;
  height: 520px;
  margin: 60px 20px 0px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
}

.news-tab-center:hover {
  transform: translateY(-10px);
  border: none;
}

.news-tab-center .news-tab-center-header {
  font-size: medium;
  font-weight: 600;
  color: #4183D7;
  margin-left: 1rem;
}

.news-tab-center .news-tab-center-header span {
  color: #999aa2;
  font-size: 0.9rem;
}

.news-tab-center img {
  margin-bottom: 25px;
  margin-top: -30px;
}

.news-tab-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 1px solid #cecece;
  border-radius: 0 0 5px 5px;
  width: 14.5%;
  height: 520px;
  margin: 60px 10px 0px 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease;
}

.news-tab-right:hover {
  transform: translateY(-10px);
  border: none;
}

.news-tab-right .news-tab-left-header {
  font-size: medium;
  font-weight: 600;
  color: #2ECC71;
  margin-left: -1rem;
}

.news-tab-right img {
  margin-bottom: 2px;
  margin-top: -46px;
}

.news-tab-left-button, .news-tab-right-button {
  background-color: #2ECC71;
}

.news-tab-center-button {
  background-color: #4183D7;
}

.news-tab-center-button, .news-tab-left-button, .news-tab-right-button {
  align-self: baseline;
  margin-left: 1.2rem;
  height: 50px !important;
  width: 130px !important;
  border-radius: 3px;
  border: none;
  font-size: medium;
  font-weight: 600;
  color: #fff;
}

.partnerscroll-news {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.partnerscroll-news img {
  width: auto;
  height: 55px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  filter: grayscale(100%);
}

.partnerscroll-news img:hover {
  filter: grayscale(0%);
}

.newsletter {
  font-family: poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 25% 3rem 25%;
  height: fit-content;
  width: 50%;
  background-color: #dddddd;
}

.newsletter .nl-header {
  text-align: left;
  margin: 2rem 0 0 0;
  font-weight: 500;
  font-size: 2rem;
}

.newsletter .input-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.newsletter .name-input, .newsletter .email-input {
  text-align: left;
  width: 50%;
  margin-bottom: 1rem;
}

.newsletter #nl-input-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.newsletter .nl-title-asterisk {
  color: #f62459;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
  height: 0.5rem;
  border-radius: 2px;
  border: 1px solid #c4c4c4;
}

.newsletter input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0.5rem !important;
  height: 0.5rem !important;
  min-width: none !important;
  min-height: none !important;
  border: 3px solid #333645;
  border-radius: 5px;
  background-color: 1;
}

.newsletter input[type="checkbox"]:checked {
  background-color: #333645;
}

.newsletter input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 2rem;
  font-weight: 600;
  font-style: bold;
  color: #fff;
  position: relative;
  top: -1.5rem;
  left: -0.75rem;
}

.newsletter .checkbox-container {
  display: flex;
  vertical-align: top;
  margin-left: -3px;
  width: 92%;
  text-align: left;
  align-content: left;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.05rem;
}

.newsletter .btn-nl-subscribe:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  font-family: poppins;
  position: static;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  bottom: 0;
  left: 0;
  height: 21.5rem;
  width: 100% -10px;
  background-color: #333645;
  color: #fff;
  padding: 10px;
}

footer .follow-us-on {
  font-weight: 400;
  font-size: 1.025rem;
}

footer .footeraboutsec {
  font-size: small;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 180px;
  width: 6%;
}

footer .footeraboutsec a {
  color: #fff;
  text-decoration: none;
  font-style: normal;
}

footer .footeraboutsec a:hover {
  text-decoration: underline;
}

footer .footeraboutsec h4 {
  font-size: medium;
  padding: 1rem 0 1rem 0;
}

footer .footerservicessec {
  font-size: small;
  margin-left: 2rem;
  height: 180px;
  width: 6%;
  margin: 5px;
}

footer .footerservicessec a {
  color: #fff;
  text-decoration: none;
  font-style: normal;
}

footer .footerservicessec a:hover {
  text-decoration: underline;
}

footer .footerservicessec h4 {
  font-size: medium;
  padding: 1rem 0 1rem 0;
}

footer .footerindustriessec {
  font-size: small;
  margin-left: 2rem;
  height: 180px;
  width: 6%;
}

footer .footerindustriessec a {
  color: #fff;
  text-decoration: none;
  font-style: normal;
}

footer .footerindustriessec a:hover {
  text-decoration: underline;
}

footer .footerindustriessec h4 {
  font-size: medium;
  padding: 1rem 0 1rem 0;
}

footer .footerlocationssec {
  font-size: small;
  margin-left: 2rem;
  height: 180px;
  width: 6%;
}

footer .footerlocationssec a {
  color: #fff;
  text-decoration: none;
  font-style: normal;
}

footer .footerlocationssec a:hover {
  text-decoration: underline;
}

footer .footerlocationssec h4 {
  font-size: medium;
  padding: 1rem 0 1rem 0;
}
