// Footer Section ---------------------------------------------------------

footer {
    display: flex;
    justify-content: center;
    font-family: poppins;
    position:static;
    color: $text-color-light;
    text-decoration: none;
    font-style: normal;
    bottom: 0;
    left: 0;
    height: 21.5rem;
    width:100% -10px;
    background-color: $banner-grey;
    color: $white;
    padding: 10px;

    .follow-us-on {
        font-weight:400 ;
        font-size: 1.025rem;
    }
    
    .footeraboutsec {
        font-size: small;
        margin-left: 2rem;
        margin-right: 2rem;
        height: 180px;
        width: 6%;
        a {color: $text-color-light;
            text-decoration: none;
            font-style: normal;
            }
        a:hover {
            text-decoration: underline;
        }
        h4 {
            font-size: medium;
            padding: 1rem 0 1rem 0;
        }
    }

    .footerservicessec {
        font-size: small;
        margin-left: 2rem;
        height: 180px;
        width: 6%;
        margin: 5px;
        a {color: $text-color-light;
            text-decoration: none;
            font-style: normal;
            }
        a:hover {
            text-decoration: underline;
        }
        h4 {
            font-size: medium;
            padding: 1rem 0 1rem 0;
        }
    }

    .footerindustriessec {
        font-size: small;
        margin-left: 2rem;
        height: 180px;
        width: 6%;
        a {color: $text-color-light;
            text-decoration: none;
            font-style: normal;
            }
        a:hover {
            text-decoration: underline;
        }
        h4 {
            font-size: medium;
            padding: 1rem 0 1rem 0;
        }
    }

    .footerlocationssec {
        font-size: small;
        margin-left: 2rem;
        height: 180px;
        width: 6%;
        a {color: $text-color-light;
        text-decoration: none;
        font-style: normal;
        }
        a:hover {
            text-decoration: underline;
        }
        h4 {
            font-size: medium;
            padding: 1rem 0 1rem 0;
        }
    }
}

