// Introview Section -------------------------------------------------------

.netmatters-introview {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2rem 3rem 2rem;
    margin: 0;
    background-color: $banner-grey;
}

// .introview-left, .introview-right {
//     width: 49%;
// }

@media (min-width:992px)
{
    .introview-grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}