// Newsletter Section ---------------------------

.newsletter {
    font-family: poppins;
   
    flex-direction: column;
    justify-content: center;
    background-color: $banner-lgt-grey;
    height: fit-content;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    background-color: $alto;

    .nl-header {
        text-align: left;
        margin: 2rem 0 0 0;
        font-weight: 500;
        font-size: 2rem;
    }

    .input-container {
        display: flex;
        justify-content: space-between;
        margin: 0;
        gap: 0;
        width: 88%;
    }

    .name-input, .email-input {
        text-align: left;
        width: 100%;
        margin-bottom: 1rem;
    }

    #nl-input-title {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .nl-title-asterisk {
        color: $radical-red;
    }

    input[type="text"],
    input[type="email"] {
        display: inline-block;
        width:93%;
        height: 0.5rem;
        border-radius: 2px;
        border: 1px solid modify-color($alto, darken, 10%);
        &:focus {
            border-color: modify-color($support-color, lighten, 20%);
            outline: 0;
            box-shadow: inset 0 6px 6px rgba($color: #000000, $alpha: 0.9) 50px 5px 5px modify-color($support-color, lighten, 20%);
        }
    }

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0.5rem !important;
    height: 0.5rem !important;
    min-width: none !important;
    min-height: none !important;
    border: 3px solid $banner-grey;
    border-radius: 5px;
    background-color: alpha($color: #000000);
    }

input[type="checkbox"]:checked {
    background-color: $banner-grey;
    }

input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 2rem;
    font-weight: 600;
    font-style: bold;
    color: $text-color-light;
    position: relative;
    top: -1.5rem;
    left: -0.75rem;
    }

    .checkbox-container {
        display: flex;
        vertical-align: top;
        margin-left: -3px;
        width: 92%;
        text-align: left;
        align-content: left;
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 1.05rem ;
    }

    
    
    .btn-nl-subscribe {
        &:hover {
            cursor: pointer;
        }
    }
}

@media (min-width:992px){
    .newsletter{
        display:flex;
        .name-input, .email-input{
            width:100%;
        }
    input {
        box-sizing: border-box;
    }
    }
}