// Config ---------------------------------------------------------------------

// Descriptive Base Colors --------------------------------

$white         : #fff;
$black         : #000;
$light-grey    : #cecece;
$grey          : #666;

$tuna           : #333645;
$hoki           : #67809f;
$havelock-blue  : #4183D7;
$shamrock       : #2ECC71;
$valencia       : #D64541;
$wisteria       : #926FB1;
$radical-red    : #f62459;
$punch          : #ce4125;

$dodger-blue    : #4387F6;
$alto           : #dddddd;
$manatee        : #999aa2;
$charade        : #272936;
$jade           : #00b67b;
$ebony-clay     : #212330;
$web-orange     : #FFA500;

$chambray       : #3b5998;
$deep-cerulean  : #0077b5;
$cerulean       : #00aced;
$cerise         : #d93175;


// Color Purpose ------------------------------------------

$text-color-dark    : $tuna;
$text-color-light   : $white;
$body-color         : $white;

$bespoke-color      : $hoki;
$support-color      : $havelock-blue;
$marketing-color    : $shamrock;
$telecom-color      : $valencia;
$webdesign-color    : $wisteria;
$security-color     : $radical-red;
$developer-color    : $punch;

$button-text-color  : $white;
$button-blue        : $dodger-blue;
$button-grey        : $manatee;
$button-dark        : $charade;
$button-green       : $jade;

$banner-lgt-grey    : $alto;
$banner-grey        : $tuna;
$banner-drk-grey    : $ebony-clay;

$star-yellow        : $web-orange;

// Social Media colors ----
//Note: When unhovered, Social Media buttons should be $socmed-color. When hovered, they should be their respective color.

$socmed-color       : $ebony-clay;
$fbook-blue         : $chambray;
$linkedin-blue      : $deep-cerulean;
$twttr-blue         : $cerulean;
$instagram-pink     : $cerise;

// Font Stacks --------------------------------------------

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?2kiay8');
    src:  url('../fonts/icomoon.eot?2kiay8#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?2kiay8') format('truetype'),
      url('../fonts/icomoon.woff?2kiay8') format('woff'),
      url('../fonts/icomoon.svg?2kiay8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

// Fonts --------------------------------------------------

h1 {
    color: $text-color-dark;
    font-family: poppins;
    font-weight: bold;
    font-size: 2.75rem;
}

h2 {
    color: $text-color-dark;
    font-family: poppins;
    font-weight: bold;
    font-size: 1.75rem;
}

h3 {
    font-family: poppins;
    font-weight: 500;
    margin: 5px 0 5px 0;
    font-size: 1.3rem;
}

h4 {
    font-family: poppins;
    font-weight: 400;
    margin: 5px 0 5px 0;
    font-size: 1.3rem;
}

p {
    font-family: poppins;
    font-weight: 400 thin;
    font-size: 0.83rem;
    padding: 0 20px 0 20px;
}
//comment
.netmatters-introview {
    color: $text-color-light;
    background-color: $banner-grey;

    h2 {
        color: $text-color-light;
        font-size: 2.25rem;
        text-align: left;
        padding-left: 1.25rem;
    }

    p {
        font-size: 1.035rem;
        padding-bottom: 1rem;
    }
    .preverb {
        font-weight: 600;
    }
    .review {
        font-size: 1.3rem;
        font-weight: 600;
        font-style: oblique;
    }
    .reviewer {
        font-size: 1.07rem;
        font-weight: 600;
        color: $manatee;
    }
    .reviewer-company {
        font-size: 1.07rem;
        font-weight: 600;
        color: $text-color-light;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .btn-dark, .btn-blue, .btn-green {
        font-weight: 500;
        font-size: 1.175rem;
    }

    .btn-green, .btn-blue {
        margin-top: 0.9rem;
    }

    .icon-arrow_forward {
        font-weight: 600;
        font-size: 1.3rem;
    }

    .icon-star {
        color: $star-yellow;
        font-size: 3.15rem;
        letter-spacing: 6px;
     }
}

// Color Palette Modifiers --------------------------------

@function modify-color($color, $modifier, $percentage: 10%) {
    @if $modifier == darken {
        @return darken($color, $percentage);
    } @else if $modifier == lighten {
        @return lighten($color, $percentage);
    } @else if $modifier == saturate {
        @return saturate($color, $percentage);
    } @else if $modifier == desaturate {
        @return desaturate($color, $percentage);
    } @else {
        @return $color;
    }
}
// Example: Using "background-color: modify-color($marketing-color, darken);" will darken the marketing color.

// Text ---------------------------------------------------

$base__font-size : 1rem;
$base__line      : 24px;
$letter-space    : .4px;

// Border radius ------------------------------------------

$brd-default: .4em;
$brd-round: 50%;

// Transitions --------------------------------------------

$trns-duration: .5s;

// Path to img --------------------------------------------

$path--rel    : "../img";

// Grid ---------------------------------------------------

$g-col-count  : 24;

// Breakpoints --------------------------------------------

$brk-sm : 1px;
$brk-md : 768px;
$brk-lg : 1100px;

// Tab Hover Effect ---------------------------------------

$tab-hover-effect: translateY(10px) !default;

// Tab Colors ---------------------------------------------

$tab-colors: (
    bespokesoftware: ($body-color, $bespoke-color, $bespoke-color, $body-color),
    itsupport: ($body-color, $support-color, $support-color, $body-color),
    digitalmarketing: ($body-color, $marketing-color, $marketing-color, $body-color),
    telecomsservices: ($body-color, $telecom-color, $telecom-color, $body-color),
    webdesign: ($body-color, $webdesign-color, $webdesign-color, $body-color),
    cybersecurity: ($body-color, $security-color, $security-color, $body-color),
    developertraining: ($body-color, $developer-color, $developer-color, $body-color),
);

// Base Colors --------------------------------------------

