// Media Queries -----------------------------------------------

@media (max-width: 768px) {
    .banner {
        width: fit-content;
    }
    .bottom-bar {
        width: fit-content;
    }
    .scrolling_image-banner {
        width: fit-content;
    }
    .our-services {
        width: fit-content;
        height: fit-content;
    }
    .netmatters-introview {
        width: fit-content;
    }
    .footer {
        width: fit-content;
    }
    .news-section {
        width: fit-content;
    }
    .newsletter {
        width: fit-content;
    }
}

@media (max-width: 912px) {
    .banner {
        width: 912px;
    }
    .bottom-bar {
        width: 912px;
    }
    .scrolling_image-banner {
        width: 912px;
    }
    .our-services {
        width: 912px;
        height: 912px;
    }
    .netmatters-introview {
        width: 912px;
    }
    .footer {
        width: 912px;
    }
    .news-section {
        width: 912px;
    }
    .newsletter {
        width: 912px;
    }
}

@media (max-width: 412px) {
    .banner {
        width: fit-content;
    }
    .bottom-bar {
        width: fit-content;
    }
    .scrolling_image-banner {
        width: fit-content;
    }
    .our-services {
        width: fit-content;
        height: fit-content;
    }
    .netmatters-introview {
        width: fit-content;
    }
    .footer {
        width: fit-content;
    }
    .news-section {
        width: fit-content;
    }
    .newsletter {
        width: fit-content;
    }
}