// Buttons --------------------------------------

//.btn {
    //@include bg-colors($havelock-blue, $jade, $ebony-clay, $manatee);
   // color: $white;
//}



.button-support {
    background-color: $button-blue;
    color: $white;
    font-size: 1.6rem;
    padding: 16px 30px;
    border: none;
    margin: 10px;
    border-radius: 2%;
    cursor: pointer;
}

.button-contact {
    background-color: $button-grey ;
    color: $white;
    font-size: 1.6rem;
    padding: 16px 30px;
    border: none;
    margin: 10px;
    border-radius: 2%;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-grey, lighten, 5%);
    }
}


// Drop Down Menu -----------------------------------------

.dropdown-bespoke, 
.dropdown-support, 
.dropdown-marketing, 
.dropdown-telecoms, 
.dropdown-webdesign, 
.dropdown-security, 
.dropdown-developer {
    visibility: hidden;
    position: fixed;
    top: 100%;
    left: 0;
    width: 2000px;
    height: 1000px;
    background-color: #c90798;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
}


// Banner Drop Down Buttons

.top-banner {
    display: flex;
    justify-content: center;
    background-color: $banner-grey;
    height: 6.2rem;
    margin-bottom: 0;

    .button-bespoke-software-banner {
        color: $bespoke-color;
        width: 6.5%;
        height: 100%;
        padding-top: 1rem;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            .dropdown-bespoke{
                visibility: visible; 
            }
            background-color: $bespoke-color;
            color: $text-color-light;
        }
        .icon-laptop{
            font-size: 1.5rem;
        }
    }

    .button-it-support-banner {
        color: $support-color;
        width: 6.5%;
        height: 100%;
        padding-top: 1rem;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            visibility: visible;
            background-color: $support-color;
            color: $text-color-light;
        }
        .icon-display1{
            font-size: 1.5rem;
        }
    }

    .button-digital-marketing-banner {
        color: $marketing-color;
        width: 6.5%;
        height: 100%;
        padding-top: 1rem;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            visibility: visible;
            background-color: $marketing-color;
            color: $text-color-light;
        }
        .icon-bar-graph{
            font-size: 1.5rem;
        }
    }

    .button-telecoms-services-banner {
        color: $telecom-color;
        width: 6.5%;
        height: 100%;
        padding-top: 1rem;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            visibility: visible;
            background-color: $telecom-color;
            color: $text-color-light;
        }
        .icon-phone_in_talk{
            font-size: 1.5rem;
        }
    }

    .button-web-design-banner {
        color: $webdesign-color;
        width: 6.5%;
        height: 100%;
        padding-top: 1rem;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            visibility: visible;
            background-color: $webdesign-color;
            color: $text-color-light;
        }
        .icon-code1{
            font-size: 1.5rem;
        }
    }

    .button-cyber-security-banner {
        color: $security-color;
        width: 6.5%;
        height: 100%;
        padding-top: 1rem;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            visibility: visible;
            background-color: $security-color;
            color: $text-color-light;
        }
        .icon-security{
            font-size: 1.5rem;
        }
    }

    .button-developer-course-banner {
        color: $developer-color;
        width: 6.5%;
        height: 100%;
        padding-top: 1rem;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            visibility: visible;
            background-color: $developer-color;
            color: $text-color-light;
        }
        .icon-school{
            font-size: 1.5rem;
        }
    }
}

// Other Buttons ----------------------------------


.btn-dark {
    background-color: $button-dark;
    color: $button-text-color;
    height: 55px;
    width: fit-content;
    padding: 15px 40px 15px 40px;
    margin: auto 3px 5px;
    border-radius: 6px;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-dark, darken);
    }
}

.btn-grey {
    background-color: $button-grey;
    color: $button-text-color;
    height: 55px;
    width: fit-content;
    padding: 15px 20px 15px 20px;
    margin: auto 3px 5px;
    border-radius: 6px;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-grey, darken);
    }
}

.btn-blue {
    background-color: $button-blue;
    color: $button-text-color;
    height: 55px;
    width: fit-content;
    padding: 15px 20px 15px 20px;
    margin: auto 3px 5px;
    border-radius: 6px;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-blue, lighten);
    }
}

.btn-green {
    background-color: $button-green;
    color: $button-text-color;
    height: 55px;
    width: fit-content;
    padding: 15px 20px 15px 20px;
    margin: auto 3px 5px;
    border-radius: 6px;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-green, darken);
    }
}

.bespoke-button, .support-button, .marketing-button, .telecoms-button, .webdesign-button, .cybersecurity-button, .developer-button {
    height: 50px;
    width: 130px;
    border-radius: 3px;
    border: none;
    font-size: medium;
    font-weight: 600;
}

// Newsletter Buttons -------------------------------------------------------------------

.btn-nl-subscribe {
    background-color: $banner-grey;
    color: $button-text-color;
    height: fit-content;
    width: fit-content;
    padding: 0.9rem;
    margin: auto 3px 5px;
    border-radius: 4px;
    border: none;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        background-color: modify-color($banner-grey, darken);
    }
}

// Social Media Buttons -----------------------------------------------------------------

.button-facebook, .button-linkedin, .button-twitter, .button-instagram {
    background-color: $ebony-clay;
    color: $white;
    font-size: 1.6rem;
    padding-top: 10px;
    width: 70px;
    height: 55px;
    margin-right: 3px;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    }

    .button-facebook {
        &:hover {
            background-color: $fbook-blue;
        }
    }
    
    .button-linkedin {
        &:hover {
            background-color: $linkedin-blue;
        }
    }
    
    .button-twitter {
        &:hover {
            background-color: $twttr-blue;
        }
    }
    
    .button-instagram {
        &:hover {
            background-color: $instagram-pink;
        }
}