// Buttons --------------------------------------

//.btn {
    //@include bg-colors($havelock-blue, $jade, $ebony-clay, $manatee);
   // color: $white;
//}

.button-facebook {
    background-color: $fbook-blue ;
    color: $white;
    font-size: 1.6rem;
    width: 70px;
    height: 55px;
    border: none;
    margin: 10px;
    border-radius: 0%;
    cursor: pointer;
}

.button-linkedin {
    background-color: $linkedin-blue ;
    color: $white;
    font-size: 1.6rem;
    width: 70px;
    height: 55px;
    border: none;
    margin: 10px;
    border-radius: 0%;
    cursor: pointer;
}

.button-twitter {
    background-color: $twttr-blue ;
    color: $white;
    font-size: 1.6rem;
    width: 70px;
    height: 55px;
    border: none;
    margin: 10px;
    border-radius: 0%;
    cursor: pointer;
}

.button-instagram {
    background-color: $instagram-pink ;
    color: $white;
    font-size: 1.6rem;
    width: 70px;
    height: 55px;
    border: none;
    margin: 10px;
    border-radius: 0%;
    cursor: pointer;
}

.button-support {
    background-color: $button-blue;
    color: $white;
    font-size: 1.6rem;
    padding: 16px 30px;
    border: none;
    margin: 10px;
    border-radius: 4%;
    cursor: pointer;
}

.button-contact {
    background-color: $button-grey ;
    color: $white;
    font-size: 1.6rem;
    padding: 16px 30px;
    border: none;
    margin: 10px;
    border-radius: 4%;
    cursor: pointer;
}


// Banner Drop Down Buttons

.button-bespoke-software-banner {
    margin-left: 45px;
    margin-right: 60px;
    background-color: $bespoke-color;
    height: 40px;
    width: 40px;
}

.button-it-support-banner {
    margin-left: 60px;
    margin-right: 60px;
    background-color: $support-color;
    height: 40px;
    width: 40px;
}

.button-digital-marketing-banner {
    margin-left: 60px;
    margin-right: 60px;
    background-color: $marketing-color;
    height: 40px;
    width: 40px;
}

.button-telecoms-services-banner {
    margin-left: 60px;
    margin-right: 60px;
    background-color: $telecom-color;
    height: 40px;
    width: 40px;
}

.button-web-design-banner {
    margin-left: 60px;
    margin-right: 60px;
    background-color: $webdesign-color;
    height: 40px;
    width: 40px;
}

.button-cyber-security-banner {
    margin-left: 60px;
    margin-right: 60px;
    background-color: $security-color;
    height: 40px;
    width: 40px;
}

.button-developer-course-banner {
    margin-left: 60px;
    margin-right: 60px;
    background-color: $developer-color;
    height: 40px;
    width: 40px;
}

.btn-dark {
    background-color: $button-dark;
    color: $button-text-color;
}

.btn-grey {
    background-color: $button-grey;
    color: $button-text-color;
}

.btn-blue {
    background-color: $button-blue;
    color: $button-text-color;
}

.btn-green {
    background-color: $button-green;
    color: $button-text-color;
}