// Buttons --------------------------------------

//.btn {
    //@include bg-colors($havelock-blue, $jade, $ebony-clay, $manatee);
   // color: $white;
//}

.button-facebook {
    background-color: $ebony-clay;
    color: $white;
    font-size: 1.6rem;
    padding-top: 10px;
    width: 70px;
    height: 55px;
    border: none;
    margin: 10px;
    border-radius: 0%;
    cursor: pointer;
    &:hover {
        background-color: $fbook-blue;
    }
}

.button-linkedin {
    background-color: $ebony-clay;
    color: $white;
    font-size: 1.6rem;
    padding-top: 10px;
    width: 70px;
    height: 55px;
    border: none;
    margin: 10px;
    border-radius: 0%;
    cursor: pointer;
    &:hover {
        background-color: $linkedin-blue;
    }
}

.button-twitter {
    background-color: $ebony-clay;
    color: $white;
    font-size: 1.6rem;
    padding-top: 10px;
    width: 70px;
    height: 55px;
    border: none;
    margin: 10px;
    border-radius: 0%;
    cursor: pointer;
    &:hover {
        background-color: $twttr-blue;
    }
}

.button-instagram {
    background-color: $ebony-clay;
    color: $white;
    font-size: 1.6rem;
    padding-top: 10px;
    width: 70px;
    height: 55px;
    border: none;
    margin: 10px;
    border-radius: 0%;
    cursor: pointer;
    &:hover {
        background-color: $instagram-pink;
    }
}

.button-support {
    background-color: $button-blue;
    color: $white;
    font-size: 1.6rem;
    padding: 16px 30px;
    border: none;
    margin: 10px;
    border-radius: 2%;
    cursor: pointer;
}

.button-contact {
    background-color: $button-grey ;
    color: $white;
    font-size: 1.6rem;
    padding: 16px 30px;
    border: none;
    margin: 10px;
    border-radius: 2%;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-grey, lighten, 5%);
    }
}


// Banner Drop Down Buttons

.top-banner {
    display: flex;
    justify-content: center;
    background-color: $banner-grey;
    height: 6.2rem;
    margin-bottom: 0;

    .button-bespoke-software-banner {
        margin-left: 45px;
        margin-right: 60px;
        color: $bespoke-color;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            
        }
    }

    .button-it-support-banner {
        margin-left: 60px;
        margin-right: 60px;
        color: $support-color;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            
        }
    }

    .button-digital-marketing-banner {
        margin-left: 60px;
        margin-right: 60px;
        color: $marketing-color;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            
        }
    }

    .button-telecoms-services-banner {
        margin-left: 60px;
        margin-right: 60px;
        color: $telecom-color;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            
        }
    }

    .button-web-design-banner {
        margin-left: 60px;
        margin-right: 60px;
        color: $webdesign-color;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            
        }
    }

    .button-cyber-security-banner {
        margin-left: 60px;
        margin-right: 60px;
        color: $security-color;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            
        }
    }

    .button-developer-course-banner {
        margin-left: 60px;
        margin-right: 45px;
        color: $developer-color;
        cursor: pointer;
        border-style: none;
        background-color: $banner-grey;
        &:hover{
            
        }
    }
}

// Other Buttons ----------------------------------


.btn-dark {
    background-color: $button-dark;
    color: $button-text-color;
    height: 50px;
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-dark, darken);
    }
}

.btn-grey {
    background-color: $button-grey;
    color: $button-text-color;
    height: 50px;
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-grey, darken);
    }
}

.btn-blue {
    background-color: $button-blue;
    color: $button-text-color;
    height: 50px;
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-blue, lighten);
    }
}

.btn-green {
    background-color: $button-green;
    color: $button-text-color;
    height: 50px;
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: modify-color($button-green, darken);
    }
}

.bespoke-button, .support-button, .marketing-button, .telecoms-button, .webdesign-button, .cybersecurity-button, .developer-button {
    height: 50px;
    width: 130px;
    border-radius: 3px;
    border: none;
    font-size: medium;
    font-weight: 600;
}