// Headlines ------------------------------------

.banner {
    color: $black;
    font-size: 1rem;
    background-color: $body-color;
    margin-top: -1rem;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
}

img {
    width: 100%;
    height: auto;
}

input {
    margin-right: 10px;
    padding: 18px;
}

.button-support {
    background-color: $button-blue;
    color: $white;
    font-size: 1.6rem;
    padding: 16px 30px;
    border: none;
    margin: 10px;
    border-radius: 4%;
    cursor: pointer;
}

.button-contact {
    background-color: $button-grey ;
    color: $white;
    font-size: 1.6rem;
    padding: 16px 30px;
    border: none;
    margin: 10px;
    border-radius: 4%;
    cursor: pointer;
}

.burger-menu {
    background-color: $banner-drk-grey;
    padding: 1px 13px 6px 13px;
    border-radius: 4px;
    font-size: 40px;
    cursor: pointer;
    margin-left: 10px;
}
h2 {
    background-color: $banner-grey;
    color: $white;
    text-align: center;
    margin-left: -1rem;
    margin-right: -0.5rem;
    margin-top: 0rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: $banner-grey;
    color: $white;
    padding: 10px;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: $banner-drk-grey;
    color: $white;
    padding: 10px;
    text-align: center;
    line-height: 0px;
}
