// Headlines ------------------------------------

body {
    margin: 0;
}

.banner {
    color: $text-color-dark;
    font-size: 1rem;
    background-color: $body-color;
    margin-top: -1rem;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100%;
    height: auto;
}

input {
    margin-right: 10px;
    padding: 18px;
}

.burger-menu {
    background-color: $banner-drk-grey;
    padding: 1px 13px 6px 13px;
    border-radius: 4px;
    font-size: 40px;
    cursor: pointer;
    margin-left: 10px;
}


h2 {
    color: $text-color-dark;
    text-align: right;
}

.bottom-bar {
    position: static;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: $banner-drk-grey;
    color: $white;
    padding: 10px;
    text-align: center;
    line-height: 0px;
}

h3 {
    height: 600px;
    width: 100%;
    background-color: darkred;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.service-header-left, .service-header-right {
    flex-grow: 1;
    text-align: center;
}

.service-header-left {
    text-align: right;
}

.service-header-right {
    text-align: center;
}

.our-services {
    height: 1000px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: $body-color;
}

.netmatters-introview {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    padding: 1rem 2rem 3rem 2rem;
    margin: 0;
    background-color: $banner-grey;
}

.introview-left, .introview-right {
    width: 23%;
}

.news {
    height: 800px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: $body-color;
}

.newsletter {
    height: 300px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: $banner-lgt-grey;
}

footer {
    display: flex;
    justify-content: center;
    font-family: poppins;
    position:static;
    color: $text-color-light;
    text-decoration: none;
    font-style: normal;
    bottom: 0;
    left: 0;
    height: 21.5rem;
    width: 100%;
    background-color: $banner-grey;
    color: $white;
    padding: 10px;
    
    .footeraboutsec {
        font-size: small;
        margin-left: 2rem;
        height: 180px;
        width: 6%;
        a {color: $text-color-light;
            text-decoration: none;
            font-style: normal;
            }
        a:hover {
            text-decoration: underline;
        }
        h4 {
            font-size: medium;
            padding: 1rem 0 1rem 0;
        }
    }

    .footerservicessec {
        font-size: small;
        height: 180px;
        width: 6%;
        margin: 5px;
        a {color: $text-color-light;
            text-decoration: none;
            font-style: normal;
            }
        a:hover {
            text-decoration: underline;
        }
        h4 {
            font-size: medium;
            padding: 1rem 0 1rem 0;
        }
    }

    .footerindustriessec {
        font-size: small;
        height: 180px;
        width: 6%;
        a {color: $text-color-light;
            text-decoration: none;
            font-style: normal;
            }
        a:hover {
            text-decoration: underline;
        }
        h4 {
            font-size: medium;
            padding: 1rem 0 1rem 0;
        }
    }

    .footerlocationssec {
        font-size: small;
        height: 180px;
        width: 6%;
        a {color: $text-color-light;
        text-decoration: none;
        font-style: normal;
        }
        a:hover {
            text-decoration: underline;
        }
        h4 {
            font-size: medium;
            padding: 1rem 0 1rem 0;
        }
    }
}