// Tabs -----------------------------------------

.our-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.bespoke-software-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 20px;
    width: 340px;
    height: 280px;
    margin: 60px 20px 0px 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease;
    &:hover {
        transform: translateY(-10px);
        border: none;
    }
    @include tab-hover-effect(translateY(10px), $bespoke-color, $bespoke-color, $body-color, $text-color-dark, $bespoke-color);

    .bespoke-button {
        background-color: $bespoke-color;
        color: $body-color;
    }

    &:hover .bespoke-button {
        background-color: $body-color;
        color: $bespoke-color;
        cursor: pointer;
    }

    .bespoke-circle {
        background-color: $bespoke-color;
    }

    &:hover .bespoke-circle {
        background-color: $body-color;
    }

    .icon-laptop {
        color: $body-color;
    }

    &:hover .icon-laptop {
        color: $bespoke-color;
    }
}

.it-support-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 20px;
    width: 340px;
    height: 280px;
    margin: 60px 20px 0px 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease;
    &:hover {
        transform: translateY(-10px);
        border: none;
    }
    @include tab-hover-effect(translateY(10px), $support-color, $support-color, $body-color, $text-color-dark, $support-color);

    .support-button {
        background-color: $support-color;
        color: $body-color;
    }

    &:hover .support-button {
        background-color: $body-color;
        color: $support-color;
        cursor: pointer;
    }

    .support-circle {
        background-color: $support-color;
    }

    &:hover .support-circle {
        background-color: $body-color;
    }

    .icon-display1 {
        color: $body-color
    }

    &:hover .icon-display1 {
        color: $support-color;
    }
}

.digital-marketing-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 20px;
    width: 340px;
    height: 280px;
    margin: 60px 20px 0px 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease;
    &:hover {
        transform: translateY(-10px);
        border: none;
    }
    @include tab-hover-effect(translateY(10px), $marketing-color, $marketing-color, $body-color, $text-color-dark, $support-color);

    .marketing-button {
        background-color: $marketing-color;
        color: $body-color;
    }

    &:hover .marketing-button {
        background-color: $body-color;
        color: $marketing-color;
        cursor: pointer;
    }

    .marketing-circle {
        background-color: $marketing-color;
    }

    &:hover .marketing-circle {
        background-color: $body-color;
    }

    .icon-bar-graph {
        color: $body-color;
    }

    &:hover .icon-bar-graph {
        color: $marketing-color;
    }
}

.telecoms-services-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 20px;
    width: 228px;
    height: 280px;
    margin: 0px 20px 165px 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease;
    &:hover {
        transform: translateY(-10px);
        border: none;
    }
    @include tab-hover-effect(translateY(10px), $telecom-color, $telecom-color, $body-color, $text-color-dark, $telecom-color);

    .telecoms-button {
        background-color: $telecom-color;
        color: $body-color;
    }

    &:hover .telecoms-button {
        background-color: $body-color;
        color: $telecom-color;
        cursor: pointer;
    }

    .telecoms-circle {
        background-color: $telecom-color;
    }

    &:hover .telecoms-circle {
        background-color: $body-color;
    }

    .icon-phone_in_talk {
        color: $body-color;
    }

    &:hover .icon-phone_in_talk {
        color: $telecom-color;
    }
}

.webdesign-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 20px;
    width: 228px;
    height: 280px;
    margin: 0px 20px 165px 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease;
    &:hover {
        transform: translateY(-10px);
        border: none;
    }
    @include tab-hover-effect(translateY(10px), $webdesign-color, $webdesign-color, $body-color, $text-color-dark, $telecom-color);

    .webdesign-button {
        background-color: $webdesign-color;
        color: $body-color;
    }

    &:hover .webdesign-button {
        background-color: $body-color;
        color: $webdesign-color;
        cursor: pointer;
    }

    .webdesign-circle {
        background-color: $webdesign-color;
    }

    &:hover .webdesign-circle {
        background-color: $body-color;
    }

    .icon-code1 {
        color: $body-color;
    }

    &:hover .icon-code1 {
        color: $webdesign-color;
    }
}

.cyber-security-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 20px;
    width: 228px;
    height: 280px;
    margin: 0px 20px 165px 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease;
    &:hover {
        transform: translateY(-10px);
        border: none;
    }
    @include tab-hover-effect(translateY(10px), $security-color, $security-color, $body-color, $text-color-dark, $security-color);

    .cybersecurity-button {
        background-color: $security-color;
        color: $body-color;
    }

    &:hover .cybersecurity-button {
        background-color: $body-color;
        color: $security-color;
        cursor: pointer;
    }

    .security-circle {
        background-color: $security-color;
    }

    &:hover .security-circle {
        background-color: $body-color;
    }

    .icon-security {
        color: $body-color;
    }

    &:hover .icon-security {
        color: $security-color;
    }
}

.developer-training-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 20px;
    width: 228px;
    height: 280px;
    margin: 0px 20px 165px 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease;
    &:hover {
        transform: translateY(-10px);
        border: none;
    }
    @include tab-hover-effect(translateY(10px), $developer-color, $developer-color, $body-color, $text-color-dark, $developer-color);

    .developer-button {
        background-color: $developer-color;
        color: $body-color;
    }

    &:hover .developer-button {
        background-color: $body-color;
        color: $developer-color;
        cursor: pointer;
    }

    .developer-circle {
        background-color: $developer-color;
    }

    &:hover .developer-circle {
        background-color: $body-color;
    }

    .icon-school {
        color: $body-color;
    }

    &:hover .icon-school {
        color: $developer-color;
    }
}

.bespoke-circle, .support-circle, .marketing-circle, .telecoms-circle, .webdesign-circle, .security-circle, .developer-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.icon-laptop, .icon-display1, .icon-bar-graph, .icon-phone_in_talk, .icon-code1, .icon-security, .icon-school {
    font-size: 2.25rem;
}